.menu-header{
	.navbar{
		margin-bottom: 0;
	}
	.navbar-default {
  		.navbar-brand {    
	    font-family:'Lobster', cursive;
	    color: #fff;
	    font-size: 25px;	
 	 }
  .navbar-nav{
  		 
		> li{
			> a{
				text-transform: uppercase;
				padding-left: 40px;
				padding-right:40px;
			}
		}
		> .active {
			 > a {
			 	background: $mau2;
				color:#fff;
			 }
			 &:hover{
			 	background: $mau2;
				color:#fff;
			 }	
			 &:focus{
			 	background: $mau2;
				color:#fff;
			 }	 
			
  		 }
 	 }   

  }
}
