.slidershow{
    .carousel { 
    .carousel-inner{  
        .item {      
        background-color: #777;
          img {
          position: absolute;
          top: 0;
          left: 0;
          min-width: 100%;      
        }
        .carousel-caption {
          background: rgba(255, 255, 255, 0.5);
          h3{
             color: #1d5a21;
          }
        }
      }
    }
  }
}