.slidershow{
    .carousel { 

    .carousel-inner{  
        .item {      
          height: 439px;
        background-color: #777;
          img {
        //  position: absolute;
        max-height: 439px;
          top: 0;
          left: 0;
          min-width: 100%;      
        }
        .carousel-caption {
          background: rgba(255, 255, 255, 0.6);
          h3{
             color: $mau2;
          }
          p{
            color: #000;
          }
        }
      }
    }
  }
}