.archive-box{
	margin-bottom: 20px;
	h2 {
	 width:100%; 
	 text-align:center; 
	 border-bottom: 1px solid $mau1; 
	 line-height:0.1em; 
	 margin:10px 0 20px;
	 span { 
	 	color:$mau3;
	 	background:#fff; 
	 	padding:0 10px; 
	 }
  } 
  .archive-content{
	  text-align: center;
	  background: #e3f1e4;
	  .post-lag{
		  padding: 10px;		  
		  .post-ctn{
			  overflow: hidden;
			  > a{
				  display: block;				 
				  overflow: hidden;
				  margin-bottom: 10px;
				  img{
					max-width: 100%;					
				  }
			  }
			  h4{
				  a{
					font-size: 16px;
				  }
				  &:hover{
					  color: $mau2;
				  }
			  }
			  p{

			  }
		  }
	  }
	  .post-small{
		  padding: 10px;
		  .post-ctn{
			  > a{
				  display: block;
				
				  overflow: hidden;
				  margin-bottom: 10px;
				  img{
					max-width: 100%;				
					
				  }
			  }
			  h4{
				  a{
					font-size: 16px;
				  }
				  &:hover{
					  color: $mau2;
				  }
			  }			  
		  }
	  }
	  .readmore{
		  margin:10px 0;
		 
		 
	  }
  }
}
