.title-h1{
    font-size: 22px;
    line-height: 22px;
    padding: 10px 10px 5px;
    border-bottom:3px solid $mau3;
    margin-bottom: 10px;
    border-left:10px solid $mau3;
}
.category-page{
    padding: 20px 0;
    .list-gr{
        .gr-box{
            margin-bottom: 15px;
            .img-post{
                padding:0 20px;
                overflow: hidden;
                img{
                    max-width: 100%;
                }
            }
            .info-post{
                h3{
                    margin-bottom: 10px;
                    a{
                        font-family: "Roboto Condensed";
                        font-size: 20px;
                    }
                }
                div.meta-post{
                    span.view,span.date{
                        margin-right: 10px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}