#footer{
    background: $mau1;
    color:#fff;
    padding: 20px 0;
    text-align: center;
    .info-mation{
        h1{
            font-family: 'Roboto Condensed', Times, serif;
            font-weight: 500;
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid $mau3;
            display: inline-block;
            line-height: 40px;
        }
        p{
            padding: 0;
        }
        div{
            a{
                margin: 0 3px;
            }
        }
    }
    .social{
        margin: 0 41%;
        li{
            float: left;
           margin-right: 20px;
            a{
                width: 37px;
            height: 37px;
            display: block;
             text-indent: -9999px;
            background: url(../images/social.png) no-repeat 0 0;
            
            }
            &:nth-child(2){
            a{
                background-position-x:-41px;
            }
        
        }
            &:nth-child(3){
                a{
                    background-position-x:-80px;
                }
            }
         &:nth-child(4){
             margin-right: 0;   
            a{
                background-position-x:-121px;
            }
        }
        }
        
    }
}